<div class="panel-heading">
    <button class="close" ng-click="cancel()">{{'CHELL_IAM.CHANGE_PASSWORD_DIALOG.X_BUTTON' | translate}}</button>
    <h3>{{'CHELL_IAM.CHANGE_PASSWORD_DIALOG.TITLE' | translate}}</h3>
</div>
<div class="panel-body">
    <form id="loginForm" name="loginForm" ng-submit="loginForm.$valid && changePassword()" novalidate>

        <div class="alert alert-danger" ng-show="wrongCredentials">
            <a class="close" data-dismiss="alert" href="#">×</a>{{'CHELL_IAM.CHANGE_PASSWORD_DIALOG.INCORRECT_OLD_PW' | translate}}
        </div>
        <div class="alert alert-danger" ng-show="notMatching">
            <a class="close" data-dismiss="alert" href="#">×</a>{{'CHELL_IAM.CHANGE_PASSWORD_DIALOG.PASSWORDS_NOT_MATCHING' | translate}}
        </div>
        <div class="form-group" ng-class="{'has-error has-feedback':notMatching}">
            <div class="col-sm-12">
                <div style="margin-bottom: 10px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                    <input type="password" class="form-control" id="inputNewPassword"
                           placeholder="{{'CHELL_IAM.CHANGE_PASSWORD_DIALOG.PH_NEW_PASSWORD' | translate}}" required
                           ng-model="$parent.newPassword" ng-pattern="passwordPattern" autofocus>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error has-feedback':notMatching}">
            <div class="col-sm-12">
                <div style="margin-bottom: 10px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-repeat"></i></span>
                    <input type="password" class="form-control" id="inputRepeatPassword"
                           placeholder="{{'CHELL_IAM.CHANGE_PASSWORD_DIALOG.PH_REPEAT_PASSWORD' | translate}}" required
                           ng-model="$parent.repeatPassword" ng-pattern="passwordPattern">
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error has-feedback':wrongCredentials}" ng-show="requestOldPassword">
            <div class="col-sm-12">
                <div style="margin-bottom: 10px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" id="inputOldPassoword"
                           placeholder="{{'CHELL_IAM.CHANGE_PASSWORD_DIALOG.PH_OLD_PASSWORD' | translate}}"
                           ng-model="$parent.oldPassword"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div style="margin-bottom: 10px">
                    <a ng-click="infoCollapsed = !infoCollapsed">{{'CHELL_IAM.CHANGE_PASSWORD_DIALOG.PASSWORD_INFO_LINK' | translate}}</a>
                    <div collapse="infoCollapsed" class="panel panel-default">
                        <div class="panel-body">
                            <div>{{'CHELL_IAM.CHANGE_PASSWORD_DIALOG.PASSWORD_INFO' | translate}}</div>
                            <div>{{'CHELL_IAM.CHANGE_PASSWORD_DIALOG.PASSWORD_PATTERN_INFO' | translate}}: <span style="color: blue">{{passwordPattern.toString()}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group last">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button class="btn btn-default" ng-click="cancel()">{{'CHELL_IAM.CHANGE_PASSWORD_DIALOG.CANCEL_BUTTON' | translate}}</button>
                    <button class="btn btn-primary" ng-click="changePassword()" type="submit" ng-disabled="loginForm.$invalid">{{'CHELL_IAM.CHANGE_PASSWORD_DIALOG.CLOSE_BUTTON' | translate}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel-footer">

</div>

