<div class="modal-header">
    <button class="close" ng-click="cancel()">{{'CHELL_IAM.GROUP_VIEW_DIALOG.X_BUTTON' | translate}}</button>
    <h3>{{'CHELL_IAM.GROUP_VIEW_DIALOG.GROUP_TITLE' | translate}}: {{group.name}}</h3>
</div>
<div class="modal-body">
    <form id="groupDetail">
        <fieldset>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputGroupId" class="control-label">{{'CHELL_IAM.GROUP_VIEW_DIALOG.GROUP_ID' | translate}}</label>
                    <input class="form-control" id="inputGroupId" placeholder="{{'CHELL_IAM.GROUP_VIEW_DIALOG.PH_GROUP_ID' | translate}}" readonly="true"
                           ng-model="group.id">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCreationDate" class="control-label">{{'CHELL_IAM.GROUP_VIEW_DIALOG.CREATION_DATE' | translate}}</label>
                    <input class="form-control" id="inputCreationDate" placeholder="{{'CHELL_IAM.GROUP_VIEW_DIALOG.PH_CREATION_DATE' | translate}}"
                           readonly="true"
                           ng-model="group.meta.created"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputGroupName" class="control-label">{{'CHELL_IAM.GROUP_VIEW_DIALOG.NAME' | translate}}</label>
                <input class="form-control" id="inputGroupName" placeholder="{{'CHELL_IAM.GROUP_VIEW_DIALOG.PH_NAME' | translate}}" readonly="true"
                       ng-model="group.name">
            </div>
            <div>
                <div class="form-group">
                    <i class="glyphicon glyphicon-user"></i> <label for="inputUsers">{{'CHELL_IAM.GROUP_VIEW_DIALOG.USERS' | translate}}</label>
                    <select id="inputUsers" size="5" class="form-control">
                        <option ng-repeat="member in group.members" ng-show="member.type=='User'">{{member.display}}</option>
                    </select>

                </div>
                <div class="form-group">
                    <i class="glyphicon glyphicon-folder-open"></i> <label for="inputGroups">{{'CHELL_IAM.GROUP_VIEW_DIALOG.GROUPS' | translate}}</label>
                    <select id="inputGroups" size="5" class="form-control">
                        <option ng-repeat="member in group.members" ng-show="member.type=='Group'">{{member.display}}</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">{{'CHELL_IAM.GROUP_VIEW_DIALOG.CLOSE_BUTTON' | translate}}</button>
</div>

