<div ng-show="!panel">
    <div class="multiple-form-group input-group" style="padding-bottom: 3px" ng-repeat="value in valueList">
        <div class="input-group-btn input-group-select">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="readOnly"
                    style="min-width: 95px;">
                <span class="concept">{{value.type}}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" ng-hide="readOnly">
                <li ng-repeat="possibleType in possibleTypeList"><a ng-click="selectType(possibleType, value)">{{possibleType}}</a></li>
            </ul>
        </div>
        <input type="text" class="form-control" ng-model="value.value" ng-readonly="{{readOnly}}">
        <span ng-hide="readOnly" class="input-group-btn" style="width: 34px">
            <button type="button" class="btn btn-danger btn-add" style="width: 34px" ng-click="removeValue(value)">-</button>
        </span>
    </div>
    <div class="multiple-form-group input-group" style="padding-bottom: 3px" ng-hide="readOnly">
        <div class="input-group-btn input-group-select">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="min-width: 95px;">
                <span class="concept">{{newType}}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="possibleType in possibleTypeList"><a ng-click="selectType(possibleType)">{{possibleType}}</a></li>
            </ul>
        </div>
        <input type="text" class="form-control" ng-model="newValue" >
    </div>
</div>
<div ng-show="panel">
    <div class="panel panel-default" ng-repeat="value in valueList">
        <div class="panel-heading clearfix" style="padding: 0px; background-color: #ffffff">
            <div class="input-group-btn input-group-select pull-left">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="readOnly"
                        style="min-width: 95px; border-left: none; border-top: none; border-bottom: none; border-bottom-left-radius: 0px">
                    <span class="concept">{{value.type}}</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" ng-hide="readOnly">
                    <li ng-repeat="possibleType in possibleTypeList"><a ng-click="selectType(possibleType, value)">{{possibleType}}</a></li>
                </ul>
            </div>
        <span ng-hide="readOnly" class="btn-group pull-right" style="width: 34px">
            <button type="button" class="btn btn-danger btn-add"
                    style="width: 34px; border: none; border-bottom-left-radius: 0px; border-top-left-radius: 0px; border-bottom-right-radius: 0px; border-top-right-radius: 3px;"
                    ng-click="removeValue()">-
            </button>
        </span>
        </div>
        <div class="panel-body">
            <div inject></div>
        </div>
    </div>
    <div class="panel panel-default" ng-hide="readOnly">
        <div class="panel-heading clearfix" style="padding: 0px; background-color: #ffffff">
            <div class="input-group-btn input-group-select pull-left">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        style="min-width: 95px; border-left: none; border-top: none; border-bottom: none; border-bottom-left-radius: 0px">
                    <span class="concept">{{newType}}</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="possibleType in possibleTypeList"><a ng-click="selectType(possibleType, value)">{{possibleType}}</a></li>
                </ul>
            </div>
        <span ng-hide="readOnly" class="btn-group pull-right" style="width: 34px">
            <button type="button" class="btn btn-success btn-add"
                    style="width: 34px; border: none; border-bottom-left-radius: 0px; border-top-left-radius: 0px; border-bottom-right-radius: 0px; border-top-right-radius: 3px;"
                    ng-click="addValue()">+
            </button>
        </span>
        </div>
        <div class="panel-body">
            <div inject></div>
        </div>
    </div>
</div>