<div ng-controller="RoleListController">
    <div ng-show="list">
        <button class="btn btn-primary btn-xs" ng-click="create()"><i style="padding-right: 10px" class="glyphicon glyphicon-lock"></i>Create Role</button>
        <table ng-table="tableParams" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
            <tbody>
            <tr ng-repeat="role in $data">
                <td data-title="'Name'">{{role.name}}</td>
                <td data-title="'Role ID'">{{role.id}}</td>
                <td data-title="'Parent ID'">{{role.parentId}}</td>
                <td data-title="'Actions'" class="center">
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-default" rel="tooltip" title="View" ng-click="view(role)">
                            <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                        </a>
                        <a class="btn btn-default" rel="tooltip" title="Edit" ng-click="edit(role)">
                            <i class="glyphicon glyphicon-edit icon-white"></i>
                        </a>
                        <a class="btn btn-default" rel="tooltip" title="Delete" ng-click="remove(role)">
                            <i class="glyphicon glyphicon-trash icon-white"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="detail">
        <form id="roleDetail">
            <fieldset>
                <div class="form-group">
                    <label for="inputRoleId">Role ID</label>
                    <input class="form-control" id="inputRoleId" placeholder="Generated" readonly="true" ng-model="editRole.id">
                </div>
                <div class="form-group">
                    <label for="inputRolename">Name</label>
                    <input class="form-control" id="inputRolename" placeholder="Name" required="true" ng-model="editRole.name">
                </div>
                <div class="form-group">
                    <label for="inputParentRole">Parent Role</label>
                    <select class="form-control" id="inputParentRole" ng-model="editRole.parentId" ng-options="role.id as (role.name) for role in possibleParentRoles">
                        <option value="">-- choose role --</option>
                    </select>
                </div>
            </fieldset>
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </form>
    </div>
</div>