<div class="row">
    <div class="col-md-8">
        <form id="userProfile">
            <fieldset>
                <div class="form-group">
                    <label for="inputLogin">{{'CHELL_IAM.USER_PROFILE.LOGIN' | translate}}</label>
                    <input class="form-control" id="inputLogin" placeholder="{{'CHELL_IAM.USER_PROFILE.PH_LOGIN' | translate}}" readonly="true"
                           ng-model="user.login">
                </div>
                <div class="form-group">
                    <label for="inputUserId">{{'CHELL_IAM.USER_PROFILE.USER_ID' | translate}}</label>
                    <input class="form-control" id="inputUserId" placeholder="{{'CHELL_IAM.USER_PROFILE.PH_USER_ID' | translate}}" readonly="true"
                           ng-model="user.id">
                </div>
                <div class="form-group">
                    <label for="inputFirstname">{{'CHELL_IAM.USER_PROFILE.FIRSTNAME' | translate}}</label>
                    <input class="form-control" id="inputFirstname" placeholder="{{'CHELL_IAM.USER_PROFILE.PH_FIRSTNAME' | translate}}" required="true"
                           ng-model="user.firstname" ng-readonly="readOnly">
                </div>
                <div class="form-group">
                    <label for="inputLastname">{{'CHELL_IAM.USER_PROFILE.LASTNAME' | translate}}</label>
                    <input class="form-control" id="inputLastname" placeholder="{{'CHELL_IAM.USER_PROFILE.PH_LASTNAME' | translate}}" required="true"
                           ng-model="user.lastname" ng-readonly="readOnly">
                </div>
                <div class="form-group" ng-show="user.emails != null || user.emails.length != 0 && !readOnly">
                    <label for="inputEMail">{{'CHELL_IAM.USER_PROFILE.EMAIL' | translate}}</label>
                    <multi-value id="inputEMail" value-list="user.emails" label-property="type" value-property="value" read-only="readOnly"/>
                </div>
                <div class="form-group" ng-show="user.phones != null || user.phones.length != 0 && !readOnly">
                    <label for="inputPhone">{{'CHELL_IAM.USER_PROFILE.PHONE' | translate}}</label>
                    <multi-value id="inputPhone" value-list="user.phones" label-property="type" value-property="value" read-only="readOnly"/>
                </div>
                <div class="form-group" ng-show="user.ims != null || user.ims.length != 0 && !readOnly">
                    <label for="inputIms">{{'CHELL_IAM.USER_PROFILE.IMS' | translate}}</label>
                    <multi-value id="inputIms" value-list="user.ims" label-property="type" value-property="value" read-only="readOnly"/>
                </div>
                <div class="form-group" ng-hide="readOnly">
                    <label for="inputGroups">{{'CHELL_IAM.USER_PROFILE.GROUPS' | translate}}</label>
                    <multi-select id="inputGroups" input-model="possibleGroups" button-label="icon name" item-label="icon name" tick-property="ticked"
                                  group-property="isGroup"/>
                </div>
                <div class="form-group" ng-show="readOnly">
                    <i class="glyphicon glyphicon-folder-open"></i> <label for="inputGroups">{{'CHELL_IAM.USER_PROFILE.GROUPS' | translate}}</label>
                    <select id="inputGroups" size="5" class="form-control">
                        <option ng-repeat="group in user.groups">{{group.display}}</option>
                    </select>
                </div>
            </fieldset>
            <div ng-transclude></div>
        </form>
    </div>
    <div class="col-md-4">
        <div style="max-width: 220px; margin: 15px 5px">
            <label>{{'CHELL_IAM.USER_PROFILE.PROFILE_PREVIEW' | translate}}</label>
            <img height="220" width="220" ng-src="{{user.gravatarMail ? ('http://www.gravatar.com/avatar/'+(user.gravatarMail | md5)+'?s=220') : user.photo}}">

            <h1>
                <span style="color: #428bca; font-size: 26px; line-height: 30px;">{{user.fullname}}</span>
                <span style="display: block; overflow: hidden; width: 100%; font-size: 20px; font-style: normal; font-weight: 300;
                        line-height: 24px; color: #666; text-overflow: ellipsis;">{{user.login}}</span>
            </h1>
            <ul style="list-style: none; padding-left: 0px; padding-top: 15px; padding-bottom: 15px; border-top: 1px solid #428bca; border-bottom: 1px solid #428bca">

                <li style="color: #428bca; font-size: 11px" ng-repeat="email in user.emails"><i style="padding-right: 10px" class="glyphicon glyphicon-envelope"></i> {{email.value}}</li>
                <li style="color: #428bca; font-size: 11px"><i style="padding-right: 10px" class="glyphicon glyphicon-time"></i> {{user.creationDate | date:'dd.MM.yyyy'}}</li>
                <li style="color: #428bca; font-size: 11px"><i style="padding-right: 10px" class="glyphicon glyphicon-flag"></i> {{user.status}}</li>
                <li style="color: #428bca; font-size: 11px" ng-repeat="group in user.groups"><i style="padding-right: 10px" class="glyphicon glyphicon-folder-open"></i> {{group.display}}</li>
            </ul>
        </div>
    </div>
</div>