<div class="row">
    <div class="col-md-8">
        <form id="userProfile">
            <fieldset>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputUserId" class="control-label">{{'CHELL_IAM.USER_PROFILE.USER_ID' | translate}}</label>
                        <input class="form-control" id="inputUserId"
                               placeholder="{{'CHELL_IAM.USER_PROFILE.PH_USER_ID' | translate}}" readonly="true"
                               ng-model="user.id">
                    </div>
                    <div class="form-group col-md-6" ng-show="!readOnly || user.externalId">
                        <label for="inputExtId" class="control-label">{{'CHELL_IAM.USER_PROFILE.EXTERNAL_ID' | translate}}</label>
                        <input class="form-control" id="inputExtId"
                               placeholder="{{'CHELL_IAM.USER_PROFILE.PH_EXTERNAL_ID' | translate}}" ng-readonly="readOnly"
                               ng-model="user.externalId">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputLogin" class="control-label">{{'CHELL_IAM.USER_PROFILE.LOGIN' | translate}}</label>
                        <input class="form-control" id="inputLogin"
                               placeholder="{{'CHELL_IAM.USER_PROFILE.PH_LOGIN' | translate}}" ng-readonly="readOnly"
                               ng-model="user.login" required="true">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputDisplay" class="control-label">{{'CHELL_IAM.USER_PROFILE.DISPLAY' | translate}}</label>
                        <input class="form-control" id="inputDisplay"
                               placeholder="{{'CHELL_IAM.USER_PROFILE.PH_DISPLAY' | translate}}" ng-readonly="readOnly"
                               ng-model="user.fullname">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6" ng-show="!readOnly || user.firstname">
                        <label for="inputFirstname" class="control-label">{{'CHELL_IAM.USER_PROFILE.FIRSTNAME' | translate}}</label>
                        <input class="form-control" id="inputFirstname"
                               placeholder="{{'CHELL_IAM.USER_PROFILE.PH_FIRSTNAME' | translate}}" required="true"
                               ng-model="user.firstname" ng-readonly="readOnly">
                    </div>
                    <div class="form-group col-md-6" ng-show="!readOnly || user.lastname">
                        <label for="inputLastname" class="control-label">{{'CHELL_IAM.USER_PROFILE.LASTNAME' | translate}}</label>
                        <input class="form-control" id="inputLastname"
                               placeholder="{{'CHELL_IAM.USER_PROFILE.PH_LASTNAME' | translate}}" required="true"
                               ng-model="user.lastname" ng-readonly="readOnly">
                    </div>
                </div>
                <div class="form-group" ng-show="!readOnly || user.title">
                    <label for="inputTitle" class="control-label">{{'CHELL_IAM.USER_PROFILE.TITLE' | translate}}</label>
                    <input class="form-control" id="inputTitle"
                           placeholder="{{'CHELL_IAM.USER_PROFILE.PH_TITLE' | translate}}" required="true"
                           ng-model="user.title" ng-readonly="readOnly">
                </div>
                <div class="form-group" ng-show="user.emails != null || user.emails.length != 0 && !readOnly">
                    <label for="inputEMail" class="control-label">{{'CHELL_IAM.USER_PROFILE.EMAIL' | translate}}</label>
                    <multi-value id="inputEMail" value-list="user.emails" label-property="type"
                                 value-property="value" read-only="readOnly" possible-types="Work,Home,Gravatar"/>
                </div>
                <div class="form-group" ng-show="user.phones != null || user.phones.length != 0 && !readOnly">
                    <label for="inputPhone" class="control-label">{{'CHELL_IAM.USER_PROFILE.PHONE' | translate}}</label>
                    <multi-value id="inputPhone" value-list="user.phones" label-property="type"
                                 value-property="value" read-only="readOnly" possible-types="Work,Home,Mobile"/>
                </div>
                <div class="form-group" ng-show="user.ims != null || user.ims.length != 0 && !readOnly">
                    <label for="inputIms" class="control-label">{{'CHELL_IAM.USER_PROFILE.IMS' | translate}}</label>
                    <multi-value id="inputIms" value-list="user.ims" label-property="type"
                                 value-property="value" read-only="readOnly" possible-types="Skype,Lync,Yahoo"/>
                </div>
                <div class="form-group" ng-show="!readOnly || user.language">
                    <label for="inputLanguage" class="control-label">{{'CHELL_IAM.USER_PROFILE.LANGUAGE' | translate}}</label>
                    <select class="form-control" id="inputLanguage" ng-model="user.language" ng-disabled="readOnly">
                        <option value="en_US">English</option>
                        <!-- TODO: Get available languages dynamically -->
                        <option value="de">German</option>
                    </select>
                </div>
                <div class="form-group" ng-show="!readOnly || user.addresses">
                    <label for="inputAddresses" class="control-label">{{'CHELL_IAM.USER_PROFILE.ADRESSES' | translate}}</label>
                    <multi-value id="inputAddresses" value-list="user.addresses" label-property="type" panel="true"
                                 read-only="readOnly" possible-types="Work,Home">
                        <div class="form-group" ng-show="!readOnly || value.streetAddress">
                            <label for="inputStreetAddress" class="control-label">{{'CHELL_IAM.USER_PROFILE.STREET' | translate}}</label>
                            <input class="form-control" id="inputStreetAddress"
                                   placeholder="{{'CHELL_IAM.USER_PROFILE.PH_STREET' | translate}}" ng-readonly="readOnly"
                                   ng-model="$parent.value.streetAddress">
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" ng-show="!readOnly || value.postalCode">
                                <label for="inputZip" class="control-label">{{'CHELL_IAM.USER_PROFILE.ZIP' | translate}}</label>
                                <input class="form-control" id="inputZip"
                                       placeholder="{{'CHELL_IAM.USER_PROFILE.PH_ZIP' | translate}}" ng-readonly="readOnly"
                                       ng-model="value.postalCode">
                            </div>
                            <div class="form-group col-md-6" ng-show="!readOnly || value.locality">
                                <label for="inputCity" class="control-label">{{'CHELL_IAM.USER_PROFILE.CITY' | translate}}</label>
                                <input class="form-control" id="inputCity"
                                       placeholder="{{'CHELL_IAM.USER_PROFILE.PH_CITY' | translate}}" ng-readonly="readOnly"
                                       ng-model="value.locality">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" ng-show="!readOnly || value.region">
                                <label for="inputRegion" class="control-label">{{'CHELL_IAM.USER_PROFILE.REGION' | translate}}</label>
                                <input class="form-control" id="inputRegion"
                                       placeholder="{{'CHELL_IAM.USER_PROFILE.PH_REGION' | translate}}" ng-readonly="readOnly"
                                       ng-model="value.region">
                            </div>
                            <div class="form-group col-md-6" ng-show="!readOnly || value.country">
                                <label for="inputCountry" class="control-label">{{'CHELL_IAM.USER_PROFILE.COUNTRY' | translate}}</label>
                                <input class="form-control" id="inputCountry"
                                       placeholder="{{'CHELL_IAM.USER_PROFILE.PH_COUNTRY' | translate}}" ng-readonly="readOnly"
                                       ng-model="value.country">
                            </div>
                        </div>
                    </multi-value>
                </div>
                <div class="form-group" ng-show="!readOnly">
                    <label for="inputActive" class="control-label">{{'CHELL_IAM.USER_PROFILE.STATUS' | translate}}</label>

                    <div class="checkbox">
                        <label>
                            <input id="inputActive" type="checkbox" required="true"
                                   ng-model="user.active" ng-readonly="readOnly"> {{'CHELL_IAM.USER_PROFILE.ACTIVE' |
                            translate}}
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-show="!readOnly">
                    <label for="inputGroups" class="control-label">{{'CHELL_IAM.USER_PROFILE.GROUPS' | translate}}</label>
                    <multi-select id="inputGroups" input-model="possibleGroups" button-label="icon name"
                                  item-label="icon name" tick-property="ticked"
                                  group-property="isGroup"/>
                </div>
                <div class="form-group" ng-show="readOnly">
                    <i class="glyphicon glyphicon-folder-open"></i> <label for="inputGroups" class="control-label">{{'CHELL_IAM.USER_PROFILE.GROUPS'
                    | translate}}</label>
                    <select id="inputGroups" size="5" class="form-control" ng-disabled="readOnly">
                        <option ng-repeat="group in user.groups">{{group.display}}</option>
                    </select>
                </div>
            </fieldset>
            <div ng-transclude></div>
        </form>
    </div>
    <div class="col-md-4">
        <div style="max-width: 220px; margin: 15px 5px">
            <label>{{'CHELL_IAM.USER_PROFILE.PROFILE_PREVIEW' | translate}}</label>
            <img height="220" width="220"
                 ng-src="{{user.gravatarMail ? ('http://www.gravatar.com/avatar/'+(user.gravatarMail | md5)+'?s=220') : user.photo}}">

            <h1>
                <span style="color: #428bca; font-size: 26px; line-height: 30px;">{{user.fullname}}</span>
                <span style="display: block; overflow: hidden; width: 100%; font-size: 20px; font-style: normal; font-weight: 300;
                        line-height: 24px; color: #666; text-overflow: ellipsis;">{{user.login}}</span>
            </h1>
            <ul style="list-style: none; padding-left: 0px; padding-top: 15px; padding-bottom: 15px; border-top: 1px solid #428bca; border-bottom: 1px solid #428bca">

                <li style="color: #428bca; font-size: 11px" ng-repeat="email in user.emails"><i
                        style="padding-right: 10px" class="glyphicon glyphicon-envelope"></i> {{email.value}}
                </li>
                <li style="color: #428bca; font-size: 11px"><i style="padding-right: 10px"
                                                               class="glyphicon glyphicon-time"></i> {{user.creationDate
                    | date:'dd.MM.yyyy'}}
                </li>
                <li style="color: #428bca; font-size: 11px"><i style="padding-right: 10px"
                                                               class="glyphicon glyphicon-flag"></i> {{user.status}}
                </li>
                <li style="color: #428bca; font-size: 11px" ng-repeat="group in user.groups"><i
                        style="padding-right: 10px" class="glyphicon glyphicon-folder-open"></i> {{group.display}}
                </li>
            </ul>
        </div>
    </div>
</div>