<div>
    <form id="userForm" name="userForm" novalidate ng-submit="userForm.$valid && save()">
        <fieldset>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputUserId" class="control-label">{{'CHELL_IAM.USER_FORM.USER_ID' | translate}}</label>
                    <input class="form-control" id="inputUserId"
                           placeholder="{{'CHELL_IAM.USER_FORM.PH_USER_ID' | translate}}" readonly="true"
                           ng-model="editUser.id">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputExtId" class="control-label">{{'CHELL_IAM.USER_FORM.EXTERNAL_ID' | translate}}</label>
                    <input class="form-control" id="inputExtId"
                           placeholder="{{'CHELL_IAM.USER_FORM.PH_EXTERNAL_ID' | translate}}"
                           ng-model="editUser.externalId">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputLogin" class="control-label">{{'CHELL_IAM.USER_FORM.LOGIN' | translate}}</label>
                    <input class="form-control" id="inputLogin"
                           placeholder="{{'CHELL_IAM.USER_FORM.PH_LOGIN' | translate}}"
                           ng-model="editUser.login" required="true" autofocus>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputDisplay" class="control-label">{{'CHELL_IAM.USER_FORM.DISPLAY' | translate}}</label>
                    <input class="form-control" id="inputDisplay"
                           placeholder="{{'CHELL_IAM.USER_FORM.PH_DISPLAY' | translate}}"
                           ng-model="editUser.fullname">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputFirstname" class="control-label">{{'CHELL_IAM.USER_FORM.FIRSTNAME' | translate}}</label>
                    <input class="form-control" id="inputFirstname"
                           placeholder="{{'CHELL_IAM.USER_FORM.PH_FIRSTNAME' | translate}}"
                           ng-model="editUser.firstname">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastname" class="control-label">{{'CHELL_IAM.USER_FORM.LASTNAME' | translate}}</label>
                    <input class="form-control" id="inputLastname"
                           placeholder="{{'CHELL_IAM.USER_FORM.PH_LASTNAME' | translate}}"
                           ng-model="editUser.lastname">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTitle" class="control-label">{{'CHELL_IAM.USER_FORM.TITLE' | translate}}</label>
                <input class="form-control" id="inputTitle"
                       placeholder="{{'CHELL_IAM.USER_FORM.PH_TITLE' | translate}}"
                       ng-model="editUser.title">
            </div>
            <div class="form-group">
                <label for="inputEMail" class="control-label">{{'CHELL_IAM.USER_FORM.EMAIL' | translate}}</label>
                <multi-value id="inputEMail" value-list="editUser.emails" label-property="type"
                             value-property="value" possible-types="Work,Home,Gravatar"/>
            </div>
            <div class="form-group">
                <label for="inputPhone" class="control-label">{{'CHELL_IAM.USER_FORM.PHONE' | translate}}</label>
                <multi-value id="inputPhone" value-list="editUser.phones" label-property="type"
                             value-property="value" possible-types="Work,Home,Mobile"/>
            </div>
            <div class="form-group">
                <label for="inputIms" class="control-label">{{'CHELL_IAM.USER_FORM.IMS' | translate}}</label>
                <multi-value id="inputIms" value-list="editUser.ims" label-property="type"
                             value-property="value" possible-types="Skype,Lync,Yahoo"/>
            </div>
            <div class="form-group">
                <label for="inputLanguage" class="control-label">{{'CHELL_IAM.USER_FORM.LANGUAGE' | translate}}</label>
                <select class="form-control" id="inputLanguage" ng-model="editUser.language">
                    <option value="en_US">English</option>
                    <!-- TODO: Get available languages dynamically -->
                    <option value="de">German</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputAddresses" class="control-label">{{'CHELL_IAM.USER_FORM.ADRESSES' | translate}}</label>
                <multi-value id="inputAddresses" value-list="editUser.addresses" label-property="type" panel="true"
                             possible-types="Work,Home">
                    <div class="form-group">
                        <label for="inputStreetAddress" class="control-label">{{'CHELL_IAM.USER_FORM.STREET' | translate}}</label>
                        <input class="form-control" id="inputStreetAddress"
                               placeholder="{{'CHELL_IAM.USER_FORM.PH_STREET' | translate}}"
                               ng-model="$parent.value.streetAddress">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputZip" class="control-label">{{'CHELL_IAM.USER_FORM.ZIP' | translate}}</label>
                            <input class="form-control" id="inputZip"
                                   placeholder="{{'CHELL_IAM.USER_FORM.PH_ZIP' | translate}}"
                                   ng-model="$parent.value.postalCode">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCity" class="control-label">{{'CHELL_IAM.USER_FORM.CITY' | translate}}</label>
                            <input class="form-control" id="inputCity"
                                   placeholder="{{'CHELL_IAM.USER_FORM.PH_CITY' | translate}}"
                                   ng-model="$parent.value.locality">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputRegion" class="control-label">{{'CHELL_IAM.USER_FORM.REGION' | translate}}</label>
                            <input class="form-control" id="inputRegion"
                                   placeholder="{{'CHELL_IAM.USER_FORM.PH_REGION' | translate}}"
                                   ng-model="$parent.value.region">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCountry" class="control-label">{{'CHELL_IAM.USER_FORM.COUNTRY' | translate}}</label>
                            <input class="form-control" id="inputCountry"
                                   placeholder="{{'CHELL_IAM.USER_FORM.PH_COUNTRY' | translate}}"
                                   ng-model="$parent.value.country">
                        </div>
                    </div>
                </multi-value>
            </div>
            <div class="form-group">
                <label for="inputActive" class="control-label">{{'CHELL_IAM.USER_FORM.STATUS' | translate}}</label>

                <div class="checkbox">
                    <label>
                        <input id="inputActive" type="checkbox"
                               ng-model="editUser.active"> {{'CHELL_IAM.USER_FORM.ACTIVE' |
                        translate}}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputGroups" class="control-label">{{'CHELL_IAM.USER_FORM.GROUPS' | translate}}</label>
                <multi-select id="inputGroups" input-model="possibleGroups" button-label="icon name"
                              item-label="icon name" tick-property="ticked"
                              group-property="isGroup"/>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">{{'CHELL_IAM.GROUP_FORM.SAVE_BUTTON' | translate}}</button>
        <button class="btn btn-default" ng-click="cancel()">{{'CHELL_IAM.GROUP_FORM.CANCEL_BUTTON' | translate}}</button>
    </form>
</div>