<div ng-controller="UserListController">
    <div ng-show="list">
        <button class="btn btn-primary btn-xs" ng-click="create()"><i style="padding-right: 10px" class="glyphicon glyphicon-user"></i>Create User</button>
        <table ng-table="tableParams" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
            <tbody>
            <tr ng-repeat="user in $data">
                <td data-title="'Name'">{{user.fullname}}</td>
                <td data-title="'Login'">{{user.login}}</td>
                <td data-title="'Date registered'" class="center">{{user.creationDate | date:'dd.MM.yyyy'}}</td>
                <td data-title="'E-Mail'">{{user.email}}</td>
                <td data-title="'User ID'" class="center">{{user.id}}</td>
                <td data-title="'Primary Role'" class="center">{{user.primaryRole.name}}</td>
                <td data-title="'State'" class="center">
                    <span class="badge">{{user.status}}</span>
                </td>
                <td data-title="'Actions'" class="center">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-default" title="View">
                            <i class="glyphicon glyphicon-zoom-in icon-white" ng-click="view(user)"></i>
                        </button>
                        <button class="btn btn-default" title="Edit" ng-click="edit(user)">
                            <i class="glyphicon glyphicon-edit icon-white"></i>
                        </button>
                        <button class="btn btn-default" title="Delete" ng-click="remove(user)">
                            <i class="glyphicon glyphicon-trash icon-white"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="detail">
        <chell-user-profile user="editUser" roles="roles">
            <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </chell-user-profile>
    </div>
</div>