<!DOCTYPE html>
<html ng-app="chell-iam-example1">
<head lang="en">
    <meta charset="UTF-8">
    <title>chell-iam Example 1</title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="../<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="../<%= file %>"></script><% }); %>

    <script type="text/javascript" src="../chell-iam.js"></script>
    <script type="text/javascript" src="../adapters/SCIMIamAdapter.js"></script>
    <script type="text/javascript" src="../adapters/SCIMIamMock.js"></script>
    <script type="text/javascript" src="example1.js"></script>

    <link rel="stylesheet" type="text/css" href="../styles/chell-iam.css" />

</head>
<body class="chell-login-required">
<div style="width: 928px; margin: 0 auto;">
    <div ng-controller="CurrentUserController">
        <button ng-click="logout()" class="btn btn-default pull-right">Logout</button>
        <button ng-click="logout()" class="btn btn-default pull-right">Change Password</button>
    </div>
    <div>
        <h2>User List</h2>
        <chell-user-list/>
    </div>
    <div>
        <h2>Group List</h2>
        <chell-group-list/>
    </div>
    <div ng-controller="CurrentUserController">
        <h2>User Profile</h2>
        <chell-user-profile user="currentUser" read-only="true"/>
    </div>
</div>
</body>
</html>